/* .body {

    font-style: normal;
    font-family: 'Times New Roman', Times, serif;

} */
.h1 {

    font-size: 24pt;

}

#wins #loses #guessSoFar #guessLeft{

    /* align-items: initial; */
    font-family: 'Times New Roman', Times, serif;


}
