/* .body {

    font-style: normal;
    font-family: 'Times New Roman', Times, serif;

} */


#wins #loses #guessSoFar #guessLeft{

    /* align-items: initial; */
    font-family: 'Times New Roman', Times, serif;


}
